.header {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

.inner{
    max-width: 860px;
}

.editor-demo {
    display: block;
    width: 100%;
    height: 835px;
}


.nav-list > .active {
    background-color: #0088cc;
}

.nav-list > .active > a {
    color: white;
}

code {
    padding: 0px;
    margin: 0px;
}

blockquote {
    margin: 0px;
}

.indent {
    margin-left: 10px;
}

td .container{
    width: 100%
}

UL span
{
    color: lightgrey;
    font-style: italic;
}

.syntaxhighlighter
{
    display: inline-block;
}

table
{
    margin-bottom: 0px;
}