.header {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

#header_wrap .inner{
    max-width: 860px;
}

.editor-demo {
    display: block;
    width: 100%;
    height: 835px;
}


.nav-list > .active {
    background-color: #0088cc;
}

.nav-list > .active > a {
    color: white;
}

code {
    padding: 0px;
    margin: 0px;
}

blockquote {
    margin: 0px;
}

.indent {
    margin-left: 10px;
}

td .container{
    width: 100%
}

UL span
{
    color: lightgrey;
    font-style: italic;
}

.syntaxhighlighter
{
    display: inline-block;
}

table
{
    margin-bottom: 0px;
}

.content
{
    min-width: 800px;
}

#toc
{
    display: inline-block;
    vertical-align: top;
    width: 225px;
    border: 1px black solid;
    position: absolute;
    margin-left: 0px;
}
#main_content_wrap
{
    display: inline-block;
    width: auto;
    margin-left: 225px;
}

#main_content_wrap .inner
{
    padding: 10px 40px;
    max-width: inherit;
}

.fixed
{
    position: fixed !important;
    top: 0px;
}