/* override useragent styles*/
p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

sub{
    vertical-align: sub;
}

sup{
    vertical-align: super;
}

.editor{
    border: 1px solid #a7a7a7;
    margin-top:1px;
}