.toolbar
{
	border: 1px dotted black;
	width: 200px;
}

.btn-inner
{
	border: 1px solid black;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-right: 5px;
	background: no-repeat center center;
}

.btn-inner.bold
{
   background-image: url("icons/text_bold.png");
}

.btn-inner.italic
{
   background-image: url("icons/text_italic.png");
}

.btn-inner.underline
{
   background-image: url("icons/text_underline.png");
}
