.box 
{
    width: 400px;
    height: 306px;
    display: "inline-block";
    float: left;
    border: 1px black solid;
    padding: 2px;
    margin: 4px 1px;
}

.configuration div 
{
    display: inline-block;
    vertical-align: top;    
}

.editorconfiguration{
    border-right: 1px solid black;
}

select{
    margin-bottom: 0px;
}

/*Mask some useragent styles*/
p{
    margin: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.console{
    overflow: auto;
}