#text_editor
{
    
}

.box 
{
    width: 800px;
    display: "inline-block";
    float: left;
    border: 1px black solid;
    padding: 2px;
    margin: 4px 1px;
}

.configuration div 
{
    display: inline-block;
    vertical-align: top;    
}

.editorconfiguration{
    border-right: 1px solid black;
}